<footer class="footer bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h3>Get The FreshCart App</h3>
        <p>We will send you a link, open it on your phone to download the App</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form class="">
          <div class="row">
            <div class="col-md-8">
              <input placeholder="Email" class="form-control text-white" required>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn bg-main">Share App Link</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</footer>
<!--END FOOTER-->
<!--START FOOTER ALTER-->
<div class="footer-alt ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="float-sm-start pull-none">
          <p class="mb-3 mb-sm-0 text-black">{{ cur_year }} © FreshCart - E-Commerce</p>
        </div>
        <div class="float-sm-end pull-none copyright">
          <ul class="list-inline d-flex flex-wrap social m-0">
            <li class="list-inline-item "><a href="" class="social-icon ml-1 "><i class="fab fa-facebook text-black "></i></a></li>
            <li class="list-inline-item"><a href="" class="social-icon ml-1  "><i class="fab fa-twitter text-black"></i></a></li>
            <li class="list-inline-item"><a href="" class="social-icon ml-1 "><i class="fab fa-linkedin text-black"></i></a></li>
            <li class="list-inline-item"><a href="" class="social-icon ml-1 "><i class="fab fa-google-plus text-black"></i></a></li>

          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
