<div class="container mt-5 py-5">
  <div class="row my-5">
    <div class="col-md-3 border border-success rounded p-2 shadow">
      <img [src]="productDetails?.imageCover" class="w-100" [alt]="productDetails?.title">

    </div>
    <div class="col-md-9 h-100 m-auto ">
      <div class="layer d-flex flex-column justify-content-evenly ">
        <div>
          <h2>{{ productDetails?.title }}</h2>
          <p class="text-muted">{{ productDetails?.description }}</p>

        </div>

      </div>
      <p class="text-main">{{ productDetails?.category?.name }}</p>
      <div class="d-flex justify-content-between ">
        <p>{{ productDetails?.price | currency}}</p>
        <p>
          <!-- {{ product.ratingsQuantity }} -->
          <i [class.rating-color] ="productDetails?.ratingsAverage >= num" *ngFor ="let num of [1,2,3,4,5]"
           class="fa-solid fa-star rating-color font-sm"></i>
           <span>{{ productDetails?.ratingsAverage }}</span>
        </p>

      </div>

      <button class="btn bg-main w-100 text-light" (click)="addToCart(productDetails._id)">Add to Cart</button>

    </div>

  </div>
</div>
