
<section class="vh-50 forgotPassword mt-5 py-5 ">
  <div class="display-table">
      <div class="display-table-cell">
          <div class="container">
              <div class="row justify-content-center gy-4">
                  <div class="col-lg-6 m-auto shadow bg-light p-5 ">
                      <div class="card account-card">
                          <div class="card-body">
                              <div class="text-center mt-3">
                                  <h3 class="font-weight-bold"><a routerLink="/" class="text-main"><i class="mdi mdi-alien"></i>FreshCart</a></h3>
                                  <p class="text-muted">Forgot Password...</p>
                              </div>

                                  <form [formGroup]="forgotPassword" class="p-4" (ngSubmit) ="sendCode(forgotPassword)">


                                      <div class="form-group">
                                          <label for="email">Email</label>
                                          <input type="email" class="form-control" id="email" formControlName = "email">
                                          <p class="text-main">{{ msgSuccess }}</p>

                                      </div>




                                      <div class="d-grid mt-3">
                                          <button type="submit" class="btn btn-primary">Send Code
                                            <!-- <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span> -->
                                          </button>
                                      </div>

                                      <div class="mt-4 mb-0 text-center">
                                          <p class="mb-0">Don't have an account ? <a routerLink="/signup" class="text-danger">Sign Up</a></p>
                                      </div>
                                  </form>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="vh-50 verfiyCode d-none ">
  <div class="display-table">
      <div class="display-table-cell">
          <div class="container">
              <div class="row justify-content-center gy-4">
                  <div class="col-lg-6 m-auto shadow bg-light p-5 ">
                      <div class="card account-card">
                          <div class="card-body">
                              <div class="text-center mt-3">
                                  <h3 class="font-weight-bold"><a routerLink="/" class="text-main"><i class="mdi mdi-alien"></i>FreshCart</a></h3>
                                  <p class="text-muted">Forgot Password...</p>
                              </div>

                                  <form [formGroup]="verifyCode" class="p-4" (ngSubmit) ="verifyResetCode(verifyCode)">


                                      <div class="form-group">
                                          <label for="resetCode">Code</label>
                                          <input type="text" class="form-control" id="resetCode" formControlName = "resetCode">
                                          <p class="text-main">{{ msgSu }}</p>

                                      </div>




                                      <div class="d-grid mt-3">
                                          <button type="submit" class="btn btn-primary">Send
                                            <!-- <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span> -->
                                          </button>
                                      </div>

                                      <div class="mt-4 mb-0 text-center">
                                          <p class="mb-0">Don't have an account ? <a routerLink="/signup" class="text-danger">Sign Up</a></p>
                                      </div>
                                  </form>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

