<div *ngIf="categoryList.length > 0; else loading" class="container my-4 mt-5 py-5">
  <div class="row g-4 justify-content-center ">
    <div *ngFor="let category of categoryList" class="col-sm-6 col-lg-3 col-md-4">
      <div class="border border-success rounded p-2 shadow ">
        <div>
          <img [src]="category.image" class="w-100" height="270px" [alt]="category.name">
          <h4 class="text-main text-center ">{{ category.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="vh-100 d-flex justify-content-center align-items-center ">
    <i class="fa-solid fa-spinner fa-spin text-main fa-5x"></i>
  </div>
</ng-template>
